<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Si le fichier OU le dossier existe, on le sert normalement
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Sinon, on renvoie vers l'app (SPA fallback)
  RewriteRule ^ index.html [L]
</IfModule>
