<IfModule mod_rewrite.c>
  RewriteEngine On

  # 1) Force HTTPS
  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://lanombreuse.com%{REQUEST_URI} [L,R=301]

  # 2) Force non-www
  RewriteCond %{HTTP_HOST} ^www\.lanombreuse\.com$ [NC]
  RewriteRule ^ https://lanombreuse.com%{REQUEST_URI} [L,R=301]

  # 3) SPA fallback (refresh des routes)
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^ index.html [L]
</IfModule>
